@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --karla-font: 'Karla', sans-serif;

    /* ### Primary */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* ### Neutral */
    --light-gray: hsl(204, 41%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

		--card-1: #fff;
		--card-2: #2bb3b1;
		--card-3:#4abebd;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: var(--karla-font);
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
}

.card {
	width: 375px;
}

.card-1 {
	background-color: var(--card-1);
	border-radius: 5px 5px 0 0;
}

.card-1 h2 {
	color: var(--card-2);
}

.card-2 {
	background-color: var(--card-2);
}

.card-3 {
	background-color: var(--card-3);
	border-radius: 0 0 5px 5px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}