@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --karla-font: 'Karla', sans-serif;

    /* ### Primary */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* ### Neutral */
    --light-gray: hsl(204, 41%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    --card-1: #fff;
    --card-2: #2bb3b1;
    --card-3: #4abebd;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: var(--karla-font);
    background-color: var(--light-gray);
}


span {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 140px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 30px;
}

.container {
}

.card {
    padding: 20px 30px;
    width: 375px;    
    
}

.card-1 {
    background-color: var(--card-1);
    padding: 30px;
}

.card-1 h2 {
    color: var(--card-2);
}

.card-1 .height {
    line-height: 25px;
}

.green {
    color: var(--bright-yellow);
    padding: 20px 20px 20px 0;
    font-weight: bold;
}

.card-2 {
    background-color: var(--card-2);
    color: #fff;
}

.card-2 span {
    padding: 15px 0 10px 0;
}

span>h2{
    font-size: 30px;
}

.card-2 p {
    padding-bottom: 30px;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--bright-yellow);
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}


.card-3 {
    background-color: var(--card-3);
    color: #fff;
}

.card-3 p {
    padding: 20px 80px 20px 0;
    line-height: 25px;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}