@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --karla-font: 'Karla', sans-serif;

    /* ### Primary */
		--white: #fff;
    --cyan: #2bb3b1;
    --light-cyan: #4abebd;
    --bright-yellow: hsl(71, 73%, 54%);

    /* ### Neutral */
    --light-gray: hsl(204, 41%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body {
	font-family: var(--karla-font);
	font-size: 15px;
	width: 100%;
	max-width: 800px;
	min-height: 100vh;
	margin: auto;
	background-color: var(--grayish-blue);
	display: flex;
	flex-wrap: wrap;
justify-content: center;
align-items: center;

}

li {
	list-style: none;
}

footer {
	width: 100%;
	text-align: center;
}


.main__section {
border-radius: .5rem;
display: flex;
flex-flow: row wrap;

}

.card {
	padding: 1.5rem 1rem 2rem 2rem;
	height: 13rem;
}

.card__1 {
background-color: var(--white);
width: 100%;
}

.card__1 h1 {
	color: var(--light-cyan);
}

.card__1 p {
	margin-top: 1.5rem;
}

.card__1 p:first-of-type {
	color: var(--bright-yellow);
	font-weight: 700;
}

.card__2 {
	background-color: var(--cyan);
}

.card__3 {
	background-color: var(--light-cyan);
}

.card__2,.card__3 {
	width: 50%;
	height: 13.3rem;
}





